body {
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/moving-through-stars-in-space_-1zccenlb__F0000.png");
}

.container {
  margin-top: 50px;
  display: block;
}

/* STAR */
.normal {
  transition: 2s ease;
}

.red-tint {
  filter:   saturate(8) hue-rotate(330deg) brightness(1);
  transition: 2s ease;
}

.blue-tint {
  filter: saturate(5) hue-rotate(170deg);
  transition: 2s ease;
}

/* VELOCITY */
.velocity-input {
  width: 100%;
}

.velocity-area {
  position: fixed;
  top: 450px;
}
