body {
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/moving-through-stars-in-space_-1zccenlb__F0000.png");
}

.container {
  margin-top: 50px;
  display: block;
}

.velocity-input {
  width: 100%;
}
